.command
  &-columns
    float: left
    height: 100%
    text-align: center
    &#col-1
      width: 60%
      display: table
    &#col-2
      width: 40%

  &-rows
    height: 50%
    margin: auto
    display: table

  &-glyph
    font-size: 15vw
    display: table-cell
    vertical-align: middle
    top: 0
    
  &-select
    font-size: 25vw
    display: table-cell
    vertical-align: middle
