clr = #333

#carousel-menu,.carousel-inner,.item
  height: 100%

.carousel
  &-title
    color: clr
    text-decoration: none
    text-shadow: none

  &-control.left, &-control.right
      background-image: none

  &-indicators
    .active
      background-color: clr
    li
      border-color: clr

  &-control, &-control:hover, &-control:focus
    color: clr
    opacity: 1
    text-shadow: none

.img-menu
    bottom: 70px
    right: 0
    top: 0
    left: 0
    position: absolute
    margin: auto
    width: 48vh
