.work
  &-time
    font-size: 20vw
    margin: 0
    display: table-cell
    vertical-align: middle
    &-container
      height: 40%
      margin: auto
      display: table

  &-progress
    height: 5vh
    position: relative
    &-container
      padding-top: 2.5vh
      height: 10vh
      width: 90%
      margin: auto
    &-bar
      padding-top: 1.5vh
    span
      font-size: 2vh

  &-count
    display: block
    height: 30%
    width: 100%
    margin: auto
    position: absolute
    display: table
    bottom: 10vh
    text-align: center
    &-text
      font-size: 10vw
      margin: 0
      display: table-cell
      vertical-align: middle
